name: CI

on: [push]

env:
  CI: true
jobs:
  unit-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Available OS's: https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [16.x, 14.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache node modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: node_modules
          key: ${{ runner.os }}-node${{ runner.node-version }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
      - run: npm ci
      - run: npm run build
      - run: npm test
      # Upload coverage for sonarcube
      - uses: actions/upload-artifact@v3
        with:
          name: code-coverage
          path: coverage/
    
  sonar-scan:
    needs: [unit-tests]
    runs-on: ${{ matrix.os }}
    if: ${{ github.actor != 'dependabot[bot]' }}
    strategy:
      matrix:
        # Available OS's: https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners
        os: [ubuntu-latest]
        node-version: [16.x]
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: code-coverage
          path: coverage/
      # Sonar analysis needs the full history for features like automatic assignment of bugs. If the following step
      # is not included the project will show a warning about incomplete information.
      - run: git fetch --unshallow
      # Run Sonar analysis on just the latest ubuntu/node runner.
      - uses: SonarSource/sonarcloud-github-action@v1.6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  lint:
    # FIXME: use a fixed version after it has been released
    uses: inrupt/javascript-style-configs/.github/workflows/reusable-lint.yml@main
