name: End-to-end browser-based tests

on:
  push:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  CI: true
jobs:
  e2e-browser:
    runs-on: ubuntu-latest
    environment:
      name: ${{ matrix.environment-name }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        environment-name: ["ESS Release-2-3", "ESS Next"]
        experimental: [false]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: npm
      - run: npm ci
      - run: npm run build
      - run: npx playwright install --with-deps
      - run: npm run test:e2e:browser:setup
      - # Dependabot cannot access secrets, so it doesn't have a token to authenticate to ESS.
        # We want jobs in this workflow to be gating PRs, so the whole matrix must
        # run even for dependabot so that the matrixed jobs are skipped, instead
        # of the whole pipeline.
        if: ${{ github.actor != 'dependabot[bot]' }}
        run: npm run test:e2e:browser
        env:
          E2E_TEST_ENVIRONMENT: ${{ matrix.environment-name }}
          E2E_TEST_USER: ${{ secrets.E2E_TEST_USER }}
          E2E_TEST_PASSWORD: ${{ secrets.E2E_TEST_PASSWORD }}
          E2E_TEST_NOTIFICATION_PROTOCOL: ${{ secrets.E2E_TEST_NOTIFICATION_PROTOCOL }}
          E2E_TEST_NOTIFICATION_GATEWAY: ${{ secrets.E2E_TEST_NOTIFICATION_GATEWAY }}
          E2E_TEST_IDP: ${{ secrets.E2E_TEST_IDP }}
      - name: Archive browser-based end-to-end test request logs
        uses: actions/upload-artifact@v5
        if: failure()
        continue-on-error: true
        with:
          name: playwright-output
          path: test-results/

  check:
    if: always()
    needs:
      - e2e-browser
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # release/v1
        with:
          allowed-skips: e2e-browser
          jobs: ${{ toJSON(needs) }}
